<mat-nav-list class="sidenav-list">
    <form class="example" action="action_page.php" style="margin-top: 17px">
      <mat-icon style="height: 100%; width: 100px; position: fixed; left: 0; margin-left: 17px; margin-top: 10px">search</mat-icon>
      <input type="text" placeholder="Search.." name="search">
    </form>
    <br>
    <hr size=1 style="color: black;">
    <br>
    <a mat-list-item routerLink="/home" (click)="desactivateFiltergroups()">
      <mat-icon>input</mat-icon>
      <span>Home</span>
    </a>
    <br>
    <hr size=1 style="color: black;">
    <br>
    <a mat-list-item routerLink="/mycourses">
      <mat-icon>book</mat-icon>
      <span>My Courses</span>
    </a>
    <br>
    <hr size=1 style="color: black;">
    <br>
    <a mat-list-item style="position:absolute; bottom:87px;" mat-list-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </a>
</mat-nav-list>
