<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/home">
      <mat-icon>input</mat-icon>
      <span>Home</span>
    </a>
    <br>
    <hr size=1 style="color: black;">
    <br>
    <a mat-list-item routerLink="/mygroups">
      <mat-icon>account_circle</mat-icon>
      <span>MyGroups</span>
    </a>
    <br>
    <hr size=1 style="color: black;">
    <br>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <hr size=1 style="color: black;">
    <br>
    <a mat-list-item style="position:absolute; bottom:87px;" mat-list-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </a>
</mat-nav-list>
