<mat-sidenav-container>
  <mat-sidenav #drawer fixedInViewport="false" [opened]="false" class="sidenav" style="margin-top:64px">
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()"><mat-icon>calendar_today</mat-icon><span style="padding-left: 15px;">Menu</span></a>
      <a mat-list-item (click)="desactivateFiltergroups()" routerLink="/home"><mat-icon>input</mat-icon><span style="padding-left: 15px;">Home</span></a>
      <a mat-list-item routerLink="/mycourses"><mat-icon>book</mat-icon><span style="padding-left: 15px;">MyCourses</span></a>
      <a mat-list-item >Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar style="position: relative; background-color:#a5ca56;">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>calendar_today</mat-icon>
    </button>
    <span routerLink="/home" style="flex: 1 1 auto;">StudyCalendar</span>
    <span class="example-spacer"></span>
    <span>Joana Pereira Silva 90126</span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/testar-signin">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>