<div style="padding-left: 10%;">
  <h2 class="titulo" >Course overview</h2>
  <mat-divider></mat-divider> 
  <router-outlet></router-outlet><mat-tab-group dynamicHeight mat-align-tabs="center">
  <mat-tab label="Interação Humano-Computador">
    <section style="margin:auto">
      <div class="example-button-row">
        <a mat-raised-button routerLink="/ihc_tp1">IHC TP1</a>
        <a mat-raised-button routerLink="/ihc_p1">IHC P1</a>
        <a mat-raised-button routerLink="/ihc_p2">IHC P2</a>
        <a mat-raised-button routerLink="/ihc_p3">IHC P3</a>
        <a mat-raised-button routerLink="/create_group" style="color: #a5ca56;">
            <mat-icon>create_new_folder</mat-icon>
            <a style="margin-left: 2%;">Create a new group</a>
        </a>
      </div>   
    </section>
  </mat-tab>
  <mat-tab label="Padrões e Desenvolvimento de Software">
    <section style="margin:auto">
      <div class="example-button-row">
        <a mat-raised-button routerLink="/pds_tp1">PDS TP1</a>
        <a mat-raised-button routerLink="/pds_p1">PDS P1</a>
        <a mat-raised-button routerLink="/pds_p2">PDS P2</a>
        <a mat-raised-button routerLink="/pds_p3">PDS P3</a>
        <a mat-raised-button routerLink="/create_group" style="color: #a5ca56;">
            <mat-icon>create_new_folder</mat-icon>
            <a style="margin-left: 2%;">Create a new group</a>
        </a>
      </div>
    </section>
  </mat-tab>
  <mat-tab label="Base de Dados">
    <section style="margin:auto">
      <div class="example-button-row">
        <a mat-raised-button routerLink="/bd_tp1">BD TP1</a>
        <a mat-raised-button routerLink="/bd_p1">BD P1</a>
        <a mat-raised-button routerLink="/bd_p2">BD P2</a>
        <a mat-raised-button routerLink="/bd_p3">BD P3</a>
        <a mat-raised-button routerLink="/create_group" style="color: #a5ca56;">
            <mat-icon>create_new_folder</mat-icon>
            <a style="margin-left: 2%;">Create a new group</a>
        </a>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>
</div>

