<div style="padding-left: 10%;">
<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin" (change)="setAll($event.checked)">Check all</mat-checkbox>
  </span>
  <span class="example-list-section">
    <li *ngFor="let item of groups">
      <mat-checkbox class="example-margin" [(ngModel)]="item.selected">{{item.cadeira + " " + item.grupo}}</mat-checkbox>
    </li>
  </span>
</section>
<button (click)="open()">Create Groups</button>
</div>

<div style="padding-left: 26%;" id="myModal" class="modal">
  <div class="modal-content">
      <button (click)="close()" id="close"><mat-icon>keyboard_backspace</mat-icon></button>
      <div *ngIf="showContainer" id="container">
        <div style="padding-left: 10%; padding-top: 2%;">
          <div class="testbox">
              <form action="/">
                <h5 style="text-align: center;">New Group</h5>
                <div class="item">
                  <p>Classes</p>
                  <div>
                    <span class="example-margin">{{selec}}</span>
                  </div>
                </div>
                <div class="item">
                  <p>Group's name:</p>
                  <div>
                    <input type="text" name="name" placeholder="Group's name"/>
                  </div>
                </div>
                <div class="item">
                  <p>Administrators email (optional):</p>
                  <div>
                    <input type="text" name="name" placeholder="Administrators email"/>
                  </div>
                </div>
                <div class="item">
                  <p>Students:</p>
                  <section class="example-section">
                    <span class="example-list-section">
                      <mat-checkbox class="example-margin" (change)="setAllPeople($event.checked)">Check all</mat-checkbox>
                    </span>
                    <span class="example-list-section">
                      <li *ngFor="let item of people_choices()">
                        <mat-checkbox class="example-margin" >{{item.name}}</mat-checkbox>
                      </li>
                    </span>
                  </section>
                </div>
                <div class="example-button-row">
                  <a mat-raised-button routerLink="/mycourses">Cancel</a>
                  <a mat-raised-button (click)="save()" routerLink="/mycourses">Save</a>
                </div>
              </form>
            </div>
        </div>
      </div>
  </div>
</div>