<div>
    <h2 class="titulo" style="text-align: center; font-size: 25px; color: #000000;" ><button mat-icon-button routerLink="/mycourses"><mat-icon>keyboard_backspace</mat-icon></button>Padrões e Desenvolvimento de Software </h2>
    <mat-divider></mat-divider>
    <h2 class="titulo" style="font-size: 20px; color: #59585d;" >Groups: </h2>
    <section>
      <div class="example-button-row">
        <a mat-raised-button routerLink="/pds_tp1">PDS TP1</a>
        <a mat-raised-button routerLink="/pds_p1">PDS P1</a>
        <a mat-raised-button routerLink="/pds_p2">PDS P2</a>
        <a mat-raised-button routerLink="/pds_p3">PDS P3</a>
        <a mat-raised-button routerLink="/create_group" style="color: #a5ca56;">
            <mat-icon>create_new_folder</mat-icon>
            <a style="margin-left: 2%;">Create a new group</a>
        </a>
      </div>
    </section>
    <router-outlet></router-outlet>
  </div>