<div style="padding-left: 10%;">
    <h2 class="titulo" style="text-align: center; font-size: 25px; color: #000000;" >Base de Dados</h2>
    <mat-divider></mat-divider>
    <h2 class="titulo" style="font-size: 20px; color: #59585d;" ><button mat-icon-button routerLink="/mycourses"><mat-icon>keyboard_backspace</mat-icon></button>Groups: </h2>
    <section>
      <div class="example-button-row">
        <a mat-raised-button routerLink="/bd_tp1">BD TP1</a>
        <a mat-raised-button routerLink="/bd_p1">BD P1</a>
        <a mat-raised-button routerLink="/bd_p2">BD P2</a>
        <a mat-raised-button routerLink="/bd_p3">BD P3</a>
        <a mat-raised-button routerLink="/create_group" style="color: #a5ca56;">
            <mat-icon>create_new_folder</mat-icon>
            <a style="margin-left: 2%;">Create a new group</a>
        </a>
      </div>
    </section>
    <router-outlet></router-outlet>
  </div>