<div>
  <div style="width: 60%; float: left">
    <mat-form-field appearance="fill" style="padding-left: 5%">
      <mat-label>Course</mat-label>
      <mat-select [(ngModel)]="cadeira" (selectionChange)="toggle()">
          <mat-option *ngFor="let group of group" [value]="group">{{group}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="padding-left: 5%">
      <mat-label>Group</mat-label>
      <mat-select [(ngModel)]="grupo" (selectionChange)="togglesubgroups()">
        <mat-option *ngFor="let group of class" [value]="group">{{group}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="padding-left: 5%">
      <mat-label>Group</mat-label>
      <mat-select [(ngModel)]="subgrupo">
        <mat-option *ngFor="let group of subs" [value]="group">{{group}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-nav-list appearance="fill" style="padding-top: 1%">
      <a mat-raised-button (click)="search()"><mat-icon>search</mat-icon><span style="padding-left: 2%">Search</span></a>
  </mat-nav-list>
</div>
<div style="padding-top: 3%;" align="center">
  <section>
    <div class="example-button-row">
      <a mat-raised-button (click)="newevent()">Create Event</a>
      <a mat-raised-button routerLink="/home">Edit Group</a>
    </div>
  </section>
  <router-outlet></router-outlet>
</div>
<app-calendar></app-calendar>
<div *ngIf="newEvent">
    <app-new-event></app-new-event>
</div>