<div>
  <div style="width:100%; float: left; padding-left: 15px; background-color:#e6fabb">Choose the group to see your Calendar and Events:
    <mat-form-field appearance="fill" style="padding-left: 5%; padding-top: .5%">
      <mat-label>Course</mat-label>
      <mat-select [(ngModel)]="cadeira" (selectionChange)="toggle()">
          <mat-option *ngFor="let group of group" [value]="group">{{group}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="padding-left: 5%; padding-top: .5%">
      <mat-label>Group</mat-label>
      <mat-select [(ngModel)]="grupo" (selectionChange)="togglesubgroups()">
        <mat-option *ngFor="let group of class" [value]="group">{{group}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="padding-left: 5%; padding-top: .5%">
      <mat-label>Subgroup</mat-label>
      <mat-select [(ngModel)]="subgrupo">
        <mat-option *ngFor="let group of subs" [value]="group">{{group}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div style="padding-top: 3%;" align="center">
  <section>
    <div class="example-button-row">Create a new Event for the group SELECTED:
      <a mat-raised-button (click)="newevent()">Create Event</a>
    </div>
  </section>
  <router-outlet></router-outlet>
</div>
<app-calendar></app-calendar>

<div *ngIf="newEvent">
    <app-new-event></app-new-event>
</div>