<div>
    <div class="modal-content" id= "myModal" style="margin-right: 2%;">
        <p>Calendar: </p>
        <div *ngIf="showMyContainer" id="container">
            <app-eventdaytable></app-eventdaytable>
            <div align="center" style="padding-top: 2%;">
                <a mat-raised-button (click)="close()"><mat-icon>close</mat-icon><span style="padding-left: 2%">Close</span></a>
            </div>
        </div>
    </div>
    <article class="sample-column calendar-wrapper" style="margin-top: 1%; margin-bottom: 2%; margin-left: 2%">
        <igx-calendar
            #calendar
            (selected)="onSelection($event)"
            [locale]="locale"
            [weekStart]="1"
            [formatOptions]="formatOptions"
            [formatViews]="formatViews"
            >
        </igx-calendar>
    </article>
</div>