@import '~igniteui-angular/lib/core/styles/themes/index';

.calendar-wrapper {
    max-width: 850px;
    min-width: 400px;
    margin: 8px;
    border: 2px solid;
    border-radius: 9px;
    position: auto;
    left: auto;
  }

$custom-calendar-theme: igx-calendar-theme(
    $header-background:#a5ca56,
    $content-background: #fdfdfd,
    $header-text-color: #ffffff,
    $date-current-text-color: #000,
    $picker-arrow-color: #000,
    $date-selected-text-color: #fdfdfd,
    $date-current-bg-color: #fdfdfd,
    $picker-arrow-hover-color: #a5ca56,
    $year-current-text-color: #000,
    $year-hover-text-color: #000,
    $month-current-text-color: #000,
    $month-hover-text-color: #000,
    $picker-text-color: #000,
    $picker-text-hover-color: #a5ca56,
);

@include igx-css-vars($custom-calendar-theme);

:host {
    ::ng-deep {
      @include igx-calendar($custom-calendar-theme);
    }
}
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    border-radius: 9px;
    height: 40%;
    margin-left: 2.5%;
    margin-top: 2%;
    width: 50%; /* Could be more or less, depending on screen size */
    right: auto;
    float: right;
    border: 8px;
  }
  
  /* The Close Button */

  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }