@import '~igniteui-angular/lib/core/styles/themes/index';

.calendar-wrapper {
    max-width: 850px;
    min-width: 600px;
    margin: 8px;
    border: 2px solid;
    border-radius: 9px;
    position: relative;
    margin: auto;
}


.location-wrapper {
    min-width: 300px;
    max-width: 830px;
    margin-bottom: 32px;
    position: relative;
    margin: auto;
}

.logger {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

$custom-calendar-theme: igx-calendar-theme(
    $header-background:#a5ca56,
    $content-background: #fdfdfd,
    $header-text-color: #ffffff,
    $date-current-text-color: #000,
    $picker-arrow-color: #000,
    $date-selected-text-color: #fdfdfd,
    $date-current-bg-color: #fdfdfd,
    $picker-arrow-hover-color: #a5ca56,
    $year-current-text-color: #000,
    $year-hover-text-color: #000,
    $month-current-text-color: #000,
    $month-hover-text-color: #000,
    $picker-text-color: #000,
    $picker-text-hover-color: #a5ca56,
);

@include igx-css-vars($custom-calendar-theme);

:host {
    ::ng-deep {
      @include igx-calendar($custom-calendar-theme);
    }
}
