<article class="sample-column location-wrapper">
    <igx-select #select [(ngModel)]="locale">
        <igx-prefix>Language: </igx-prefix>
        <igx-select-item *ngFor="let locale of locales" [value]="locale">
            {{ locale }}
        </igx-select-item>
    </igx-select>
</article>
<article class="sample-column calendar-wrapper">
    <igx-calendar
        #calendar
        (selected)="onSelection($event)"
        [locale]="locale"
        [weekStart]="1"
        [formatOptions]="formatOptions"
        [formatViews]="formatViews"
    >
    </igx-calendar>
</article> 
<div style="padding-left: 26%;">
    <span>{{loggerHeader}}</span>
    <div class="logger"></div>
    <div *ngIf="showMyContainer">
        <app-eventdaytable></app-eventdaytable>
    </div>
    <div *ngIf="showContainer15maio">
        <app-eventday15maio></app-eventday15maio>
    </div>
</div>
