@import '~igniteui-angular/lib/core/styles/themes/index';

.calendar-wrapper {
    max-width: 850px;
    min-width: 600px;
    margin: 8px;
    border: 2px solid;
    border-radius: 9px;
    position: relative;
    margin: auto;
}

$custom-calendar-theme: igx-calendar-theme(
    $header-background:#a5ca56,
    $content-background: #fdfdfd,
    $header-text-color: #ffffff,
    $date-current-text-color: #000,
    $picker-arrow-color: #000,
    $date-selected-text-color: #fdfdfd,
    $date-current-bg-color: #fdfdfd,
    $picker-arrow-hover-color: #a5ca56,
    $year-current-text-color: #000,
    $year-hover-text-color: #000,
    $month-current-text-color: #000,
    $month-hover-text-color: #000,
    $picker-text-color: #000,
    $picker-text-hover-color: #a5ca56,
);

@include igx-css-vars($custom-calendar-theme);

:host {
    ::ng-deep {
      @include igx-calendar($custom-calendar-theme);
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 260px;
    top: 64px;
    width: calc(100% - 260px); /* Full width */
    height: calc(100% - 64px); /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: 40px auto; /* centered */
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }